nav {
  a {
    font-weight: 500;
    cursor: pointer;
  }
}

.cart {
  cursor: pointer;
  .cart-no {
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    top: -14px;
    right: 16px;
  }
}
